@use "sass:list";
@import "normalize.css";
@import "variables";
@import "mixins";
@import "typography";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    @include createColorScale($grey, 'grey');
    @include createColorScale($primary, 'primary');
    @include createColorScale($yellow, 'yellow');
    @include createColorScale($red, 'red');

    --white: #fff;
    --black: #222;

    --bg-color: var(--black);
    --fg-color: var(--white);
    --fg-color-muted: var(--grey-500);

    --spacing: #{$spacing};
    --spacing-xs: #{$spacing * 0.25};
    --spacing-s: #{$spacing * 0.5};
    --spacing-l: #{$spacing * 2};
    --spacing-xl: #{$spacing * 3};
    --spacing-xxl: #{$spacing * 5};
    --spacing-xxxl: #{$spacing * 8};

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --radius: .5rem;

    --thing-border-color: var(--grey-100);
    --thing-fg-color: var(--grey-900);
    --thing-bg-color: var(--white);
    --thing-radius: 1rem;
    --thing-bg-color-hover: var(--grey-50);
}

* {
    box-sizing: border-box
}

body {
    background: linear-gradient(0deg, var(--black), var(--grey-700));
    background-attachment: fixed;
    color: var(--fg-color);
    width: 100%;
    height: 100%;
}

html,
body,
#__nuxt {
    height: 100%;
}

#__nuxt {

    margin: auto;

}

.ui-resizable-handle {
    z-index: 0 !important;
}